<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <title>menber</title>
    <link rel="stylesheet" href="../public/css/flex.css">
    <link rel="stylesheet" href="../css/feedback.min.css">
</head>
<body>
<div class="t-nav">
    <a href="javascript:window.history.back();" class="left on-menu"><i class="iconfont">&#xe602;</i></a>
    <div class="title"></div>
    <div class="right"><i class="iconfont">&#xe603;</i></div>
</div>

<div class="main">
    <div class="feedback">
        chat
    </div>
    <div class="btn">to do </div>
</div>

<script src="../public/js/jquery-2.1.4.js"></script>
<script src="../js/member.js"></script>
</body>
</html>
