<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <title>menber</title>
    <link rel="stylesheet" href="../public/css/flex.css">
    <link rel="stylesheet" href="../css/member.min.css">
</head>
<body>
<div class="t-nav">
    <a href="javascript:window.history.back();" class="left on-menu"><i class="iconfont">&#xe602;</i></a>
    <div class="title"></div>
    <div class="right"><i class="iconfont">&#xe603;</i></div>
</div>
<div class="member">
    <div class="box">
        <div flex="main:center cross:center" class="info">
            <div class="fans">
                <p class="number">1</p>
                <p class="desc">粉丝</p>
            </div>
            <div class="user">
                <img src="../images/1.jpg" alt="">
            </div>
            <div class="attention">
                <p class="number">1</p>
                <p class="desc">关注</p>
            </div>
            <div class="level">Lv.1</div>
        </div>
        <p class="name">Triplint</p>
        <div class="msg">
            消息
        </div>
    </div>
    <!--<img class="member-bg" src="../../public/images/member.jpg" alt="">-->
</div>
<div class="items">
    <p class="null">这里空空如也</p>
</div>
<script src="../public/js/jquery-2.1.4.js"></script>
<script src="../js/member.js"></script>
</body>
</html>
