<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <title>menber</title>
    <link rel="stylesheet" href="../../../dist/css/member.min.css">
</head>
<body>
<div class="t-nav">
    <div class="left on-menu"><i class="iconfont">&#xe601;</i></div>
    <div class="title"></div>
    <div class="right"><i class="iconfont">&#xe600;</i></div>
</div>
<div class="member">
    <div class="box">
        <div class="info">
            <div class="fans">
                <p class="number">1</p>
                <p class="desc">粉丝</p>
            </div>
            <div class="user">
                <img src="../../favicon.ico" alt="">
            </div>
            <div class="attention">
                <p class="number">1</p>
                <p class="desc">关注</p>
            </div>
        </div>
        <p class="name">Triplint</p>
        <div class="msg">
            <a href="menber.html">消息</a>
        </div>
    </div>
    <!--<img class="member-bg" src="../../public/images/member.jpg" alt="">-->
</div>
<div class="items">
    <p class="null">这里空空如也</p>
</div>
<script src="../../public/js/jquery-2.1.4.js"></script>
<script src="../js/member.js"></script>
</body>
</html>