<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <title>Title</title>
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.0.1/weui.min.css">
    <link rel="stylesheet" href="../css/setting.min.css">
</head>
<body>
<div class="t-nav">
    <div class="left on-menu"><i class="iconfont">&#xe601;</i></div>
    <div class="title">设置</div>
    <div class="right">退出</div>
</div>

<div class="main">
    <div class="weui-panel">
        <div class="weui-panel__hd">个人设置</div>
        <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_small-appmsg">
                <div class="weui-cells">
                    <a class="weui-cell weui-cell_access" href="javascript:;">
                        <div class="weui-cell__bd weui-cell_primary">
                            <p>账户设置</p>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="javascript:;">
                        <div class="weui-cell__bd weui-cell_primary">
                            <p>设置新密码</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="weui-panel__hd interval">系统设置</div>
        <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_small-appmsg">
                <div class="weui-cells">
                    <a class="weui-cell weui-cell_access" href="javascript:;">
                        <div class="weui-cell__bd weui-cell_primary">
                            <p>关于我们</p>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="feedback.html">
                        <div class="weui-cell__bd weui-cell_primary">
                            <p>意见反馈</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="leftMenu">
    <div class="t-mask-visible"></div>
    <div class="menu">
        <a href="menber.html" class="portrarit">
            <img src="../images/1.jpg" alt="">
            <p class="name">Triplint</p>
        </a>
        <div class="menu-list">
            <a href="index.html">热门游记</a>
            <a href="javascript:;">草稿箱</a>
            <a href="setting.html" class="on">设置</a>
        </div>
        <div class="cp">
            Triplint
        </div>
    </div>
</div>
<script src="../public/js/jquery-2.1.4.js"></script>
<script src="../js/setting.js"></script>
</body>
</html>
