@import "variable";
@import "base";
@import "icon";
@import "t-nav";
@import "leftMenu";

.t-nav {
    .title {
        text-indent: 10px;
        text-align: left;
    }
    .right {
        font-size: 15px;
    }
}

.main {
    margin: @navHeight 0 50px;
    .weui-panel {
        background-color: #faf8ec;
    }
    .weui-panel__hd {
        padding: 20px 15px 20px;
    }
    .weui-cell {
        padding: 20px 15px;
        font-size: 13px;
    }
    .weui-cells {
        background-color: #faf8ec;
    }
    .interval {
        margin-top: 30px;
    }
}