@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1476267368_2597415.eot');
  /* IE9*/
  src: url('//at.alicdn.com/t/font_1476267368_2597415.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('//at.alicdn.com/t/font_1476267368_2597415.woff') format('woff'), /* chrome、firefox */ url('//at.alicdn.com/t/font_1476267368_2597415.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('//at.alicdn.com/t/font_1476267368_2597415.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont";
  font-size: 26px;
  font-style: normal;
}
