* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: blink;
}
html,
body {
  width: 100%;
  background: #faf8ec;
}
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1476267368_2597415.eot');
  /* IE9*/
  src: url('//at.alicdn.com/t/font_1476267368_2597415.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('//at.alicdn.com/t/font_1476267368_2597415.woff') format('woff'), /* chrome、firefox */ url('//at.alicdn.com/t/font_1476267368_2597415.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('//at.alicdn.com/t/font_1476267368_2597415.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont";
  font-size: 26px;
  font-style: normal;
}
.t-nav {
  display: -webkit-box;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background: #49bdca;
  z-index: 10;
}
.t-nav .left,
.t-nav .right {
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  font-size: 30px;
  line-height: 50px;
}
.t-nav .title {
  display: block;
  height: 50px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  line-height: 50px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  -webkit-tap-highlight-color: transparent;
}
a {
  color: #fff;
}
.leftMenu.on .t-mask-visible {
  display: block;
  opacity: .5;
}
.leftMenu.on .menu {
  transform: translate3d(0, 0, 0);
}
.leftMenu {
  position: fixed;
  top: 0;
  left: -100%;
  bottom: 0;
  width: 100%;
  z-index: 11;
}
.leftMenu .t-mask-visible {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: #000;
  transition: opacity .5s;
}
.leftMenu .menu {
  transform: translate3d(-100%, 0px, 0px);
  transition-duration: .3s;
  position: absolute;
  width: 75%;
  height: 100%;
  top: 0;
  left: 0;
  background: #49bdca;
  box-shadow: 4px 0 20px rgba(0, 0, 0, 0.3);
}
.leftMenu .menu .portrarit {
  display: block;
  margin: 30% auto 100px;
  width: 55px;
  height: 55px;
  border: 2px solid #54dbea;
  border-radius: 50%;
  background: #fff;
}
.leftMenu .menu .portrarit img {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 50%;
}
.leftMenu .menu .portrarit .name {
  color: #fff;
  margin-top: 15px;
  text-align: center;
  font-size: 16px;
}
.leftMenu .menu .menu-list a {
  display: block;
  margin: 50px;
  text-align: center;
  font-size: 13px;
  color: #ddd;
}
.leftMenu .menu .menu-list a.on {
  color: #fff;
}
.leftMenu .menu .cp {
  position: absolute;
  padding: 10px 0;
  width: 100%;
  bottom: 0;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}
[v-cloak] {
  display: none;
}
img {
  display: block;
  width: 100%;
}
.barn {
  margin: 60px 10px 10px;
  border-radius: 8px;
}
.barn img {
  border-radius: 8px;
}
.barn .swiper-slide {
  padding-bottom: 35px;
}
.barn .swiper-pagination-bullet {
  background: #f2edda;
  opacity: 1;
}
.barn .swiper-pagination-bullet-active {
  background: #ded3b3;
}
.list {
  margin: 0 10px 100px;
}
.list img {
  border-radius: 8px;
}
.list .info {
  display: block;
  position: relative;
  margin-bottom: 10px;
}
.list .info .title {
  position: absolute;
  top: 10px;
  left: 15px;
  color: #fff;
  font-size: 20px;
  text-shadow: 1px 1px 2px #000;
}
.list .info .time-didian {
  position: absolute;
  padding-left: 10px;
  line-height: 12px;
  top: 40px;
  left: 15px;
  color: #fff;
}
.list .info .time-didian p,
.list .info .time-didian i {
  font-size: 12px;
  text-shadow: 1px 1px 2px #000;
}
.list .info .time-didian::before {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 4px;
  background: #49bdca;
}
.list .info .user {
  position: absolute;
  display: inline-flex;
  left: 15px;
  bottom: 15px;
}
.list .info .user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: left;
}
.list .info .user p {
  color: #fff;
  font-size: 13px;
  line-height: 30px;
  text-indent: 15px;
  text-shadow: 1px 1px 2px #000;
}
.add {
  position: fixed;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 30px;
  color: #fff;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  background: #49bdca;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
}
