a {
  color: #fff;
}
.leftMenu.on .t-mask-visible {
  display: block;
  opacity: .5;
}
.leftMenu.on .menu {
  transform: translate3d(0, 0, 0);
}
.leftMenu {
  position: fixed;
  top: 0;
  left: -100%;
  bottom: 0;
  width: 100%;
  z-index: 11;
}
.leftMenu .t-mask-visible {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: #000;
  transition: opacity .5s;
}
.leftMenu .menu {
  transform: translate3d(-100%, 0px, 0px);
  transition-duration: .3s;
  position: absolute;
  width: 75%;
  height: 100%;
  top: 0;
  left: 0;
  background: #49bdca;
  box-shadow: 4px 0 20px rgba(0, 0, 0, 0.3);
}
.leftMenu .menu .portrarit {
  display: block;
  margin: 30% auto 100px;
  width: 55px;
  height: 55px;
  border: 2px solid #54dbea;
  border-radius: 50%;
  background: #fff;
}
.leftMenu .menu .portrarit img {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 50%;
}
.leftMenu .menu .portrarit .name {
  color: #fff;
  margin-top: 15px;
  text-align: center;
  font-size: 16px;
}
.leftMenu .menu .menu-list a {
  display: block;
  margin: 50px;
  text-align: center;
  font-size: 13px;
  color: #ddd;
}
.leftMenu .menu .menu-list a.on {
  color: #fff;
}
.leftMenu .menu .cp {
  position: absolute;
  padding: 10px 0;
  width: 100%;
  bottom: 0;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}
